<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/actionGame.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="top">
      <h1 class="title">몸으로 말해요</h1>

      <div class="home">
        <a href="/">
          <img class="home" src="/public/home.png" alt="홈으로" />
        </a>
      </div>
    </nav>

    <section>
      <hr class="line" color="black" size="5" />
    </section>

    <article class="btn">
      <div><a href="/gameTimerSetting/emotion" class="btn1">감정</a></div>
      <div><a href="/gameTimerSetting/drama" class="btn2">드라마</a></div>
      <div><a href="/gameTimerSetting/movie" class="btn3">영화</a></div>
      <div><a href="/gameTimerSetting/proverb" class="btn4">속담</a></div>
      <div><a href="/gameTimerSetting/food" class="btn5">음식</a></div>
      <div><a href="/gameTimerSetting/animal" class="btn6">동물</a></div>
    </article>
  </body>
</html>
