* {
    font-family: 'Jua', sans-serif;
}

.top {
    width: 100vw;
    height: 100px;
    background-color: #40BBCA;
    position: absolute;
    top:-20px;
    right: 0px;
    line-height: 50px;
}
.top_title {
    font-size: 60px;
    text-align: center;
}
.home {
    width: 70px;
    position: absolute;
    left: 10px;
    top:13px;
}

.line {
    width: 100%;
    position:absolute;
    top: 70px;
    right: 0;
}

.back {
    width: 7rem;
    position: absolute;
    bottom: 4px;
    left: 15px;
}

.container {
    padding:10px;
    position:absolute;
    top:13%;
    left:28%;
    border:6px solid #40BBCA;
    
    padding: 20px;
    text-align: center;
    
}

.rank{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
    font-size:45px;
}

.circle{
    width:70px;
    height:70px;
    line-height: 80px;
    text-align: center;
    border:0px;
    border-radius:100px;

    box-shadow: inset 2px 3px 7px rgba(0,0,0,0.3);
}
.text1{
    width:70px;
    height:45px;
    color:dimgray;
    text-align: center;
    font-size:40px;
}
.text2{
    width:500px;
    height:45px;
    color:dimgray;
    text-align: center;
    font-size:40px;
}
.text3{
    width:100px;
    height:45px;
    color:dimgray;
    text-align: center;
    font-size:40px;
}


.line_Rank{
    border:2px dashed grey;
}
.first_team{
    width:500px;
    height:60px;
    text-align: center;
    font-size:55px;
}
.second_team{
    width:500px;
    height:60px;
    text-align: center;
    font-size:55px;
}
.third_team{
    width:500px;
    height:60px;
    text-align: center;
    font-size:55px;
}
.fourth_team{
    width:500px;
    height:60px;
    text-align: center;
    font-size:55px;
}
.fifth_team{
    width:500px;
    height:60px;
    text-align: center;
    font-size:55px;
}
.Score{
    width:100px;
    height:60px;
    text-align: center;
    font-size: 50px;
}

